#slider-wrap{ /* Оболочка слайдера и кнопок */
    width:100%;
    position: relative;
    margin-top: 0;
    padding-top: 0;
}
#slider{ /* Оболочка слайдера */
    width:100%;
    height:340px;
    overflow: hidden;
    position:relative;
   }

.slide{ /* Слайд */
    width:100%;
    height:100%;
    margin-top: 0;
    padding-top: 0;
}
.slide1{
    background-image: url(../images/slide1.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slide2{
   background-color: burlywood;
}


.slide3{
    background-color: peru;
}

.slider-content{
    width: 300px;
    position: absolute;
    top:60px;
    right: 200px;
}

.slider-content h3{
    font-family : Verdana,Arial, sans-serif;
    font-size : 36px;
    font-weight: normal;
    margin: 5px;

    line-height : 32px;
    color : rgb(255, 255, 255);
}
.slider-content p {
    font-family : SourceSansPro-Black,sans-serif ;
    font-size : 36px;
    margin: 5px;
    line-height : 32px;
    color : rgb(255, 255, 255);
}
.slider-content span{

    font-family : SourceSansPro-Regular, Arial, sans-serif;
    font-size : 14px;
    color : rgb(255, 255, 255);
}
.slider1_img{
    width:260px;
    height:225px;
    position: relative;
    margin-left: 118px;
    margin-top: 64px;
}

.slider2_img{
    width:260px;
    height:225px;
    position: relative;
    margin-left: 118px;
    margin-top: 64px;
}
.slider3_img{
    width:260px;
    height:225px;
    position: relative;
    margin-left: 118px;
    margin-top: 64px;
}

.slider-screen{
    width: 240px;
    height: 130px;
    font-family : SourceSansPro-Bold, Arial, sans-serif;
    font-weight : bold;
    font-size : 28px;
    margin:0;
    padding:0;
    position: absolute;
    background-color: white;
    top: 75px;
    left: 128px;
    text-align: center;


}
.slider-screen  h2{
    color:black;
    margin-top:30px;
    margin-bottom: 0;

}
.slider-screen span{
    color : #F9A522;
    margin-left: 10px;
}
.slider-screen p{
    font-family : SourceSansPro-Regular,  Arial, sans-serif;
    font-size : 10px;
    letter-spacing : 0.4px;
    color : rgb(128, 127, 125);
    margin: 0;
    padding: 0;
}

.sli-links{ /* Кнопки смены слайдов */
    margin-top:-45px;

    text-align:center;
position: relative}
.sli-links .control-slide{
    margin:5px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../radioBg.png) center bottom no-repeat;}
.sli-links .control-slide:hover{
    cursor:pointer;
    background-position:center center;}
.sli-links .control-slide.active{
    background-position:center top;}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
    display:block;
    width:30px;
    height:100%;
    position:absolute;
    top:0;
    overflow:hidden;
    text-indent:-999px;
    background:url(../images/left.png)  center no-repeat;

    opacity:0.8;
    z-index:3;
    outline:none !important;}
#prewbutton{left:22px;}
#nextbutton{
    right:22px;
    background:url(../images/right.png)  center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
    opacity:1;}