@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('../fonts/SourceSansPro-Black.otf');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../fonts/SourceSansPro-Bold.otf');
}

.body {
    max-width: 1092px;
    margin: 0;
    padding: 0 108px;
}

/*///////////////////////////header start/////////////////////////////////////////////////////*/
.header {
    height: 100px;
    width: 100%;
    position: relative;
    margin: 0;

}

.header-logo {
    font-family: SourceSansPro-Bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    bottom: 0;
    display: inline-block;
    position: relative;
    float: left;

}

.header-logo a {
    text-decoration: none;
}

.header-logo h1 {
    color: black;
    margin: 0;

}

.header-logo h1 span {
    color: #F9A522;
    margin-left: 10px;
}

.header-nav {
    display: block;
    position: relative;
    float: right;
    margin: 20px auto;
}

.header-nav-block {
    position: relative;
    display: inline-block;
}

.header-nav-block_item {
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 18px;
    color: rgb(25, 55, 76);
    margin-left: 40px;
    list-style-type: none;
    position: relative;
    float: left;
}

.header-nav-block_item img {
    width: 10px;
    height: 10px;
}

.header-nav-block_item a:hover {
    /*font-family : SourceSansPro-Black,Arial, sans-serif;*/
    cursor: pointer;
    color: #F9A522;

}

/*///////////////////////////header end/////////////////////////////////////////////////////*/
/*///////////////////////top-section start//////////////////////////////////////////////////*/
.top-section {
    width: 100%;
    height: 350px;
    position: relative;
}

.top-section h3 {
    font-family: SourceSansPro-Black, Arial, sans-serif;
    font-size: 36px;
    line-height: 20.36px;
    color: rgb(25, 55, 76);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

.top-section p {
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 16px;
    color: rgb(139, 138, 137);
    text-align: center;
    margin: 0;
}

.top-section-block {
    width: 255px;
    position: relative;
    float: left;
    margin-top: 40px;
    margin-right: 23px;
}

.top-section-block img {
    width: 100%;
    height: 100%;
    position: relative;
}

.top-section-block p {
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 16px;
    line-height: 20.04px;
    color: rgb(49, 51, 50);
    margin-top: 5px;
}

/*///////////////////////top-section end//////////////////////////////////////////////////*/
/*///////////////////////middle-section start//////////////////////////////////////////////////*/
.middle-section {
    width: 100%;
    height: 300px;
    margin: 30px 0;
    position: relative;

}

.video-block {
    width: 300px;
    position: relative;
    float: left;
}

.video-block h4 {
    font-family: SourceSansPro-Black, Arial, sans-serif;
    font-size: 36px;
    line-height: 20.36px;
    color: rgb(25, 55, 76);
    margin: 0;

}

.video-block hr {
    /*  color : rgba(241, 241, 241, 1);*/
    color: rgba(241, 241, 241, 1); /*для IE */
    background-color: rgba(241, 241, 241, 1); /*для Firefox, Opera, Safari*/
    border: 0px none;
    height: 1px; /* высота 1px IE, Firefox, Opera, Safari */
    clear: both; /* для очистки, если тег идет после float елемента */
    margin-top: 20px;
}

.video-tour {
    width: 300px;
    margin-top: 35px;
}

.video-tour iframe {
    width: 100%;
}

/*/////////////////////carousel start/////////////////////////*/
.carousel {
    max-width: 720px;
    width: 720px;
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
}

.carousel h4 {
    font-family: SourceSansPro-Black, Arial, sans-serif;
    font-size: 36px;
    line-height: 20.36px;
    display: inline-block;
    color: rgb(25, 55, 76);
    margin: 0;
}

.carousel hr {
    /*  color : rgba(241, 241, 241, 1);*/
    color: rgba(241, 241, 241, 1); /*для IE */
    background-color: rgba(241, 241, 241, 1); /*для Firefox, Opera, Safari*/
    border: 0px none;
    height: 1px; /* высота 1px IE, Firefox, Opera, Safari */
    clear: both; /* для очистки, если тег идет после float елемента */
    /*margin-top: 15px;*/
}

.carousel-wrapper {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}

.carousel-items {
    width: 10000px;
    position: relative;
}

.carousel-block {
    float: left;
    width: 330px;
    padding: 0;
    margin-left: 20px;

}

.carousel-block p {
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 16px;
    color: rgb(139, 138, 137);
    margin-top: 60px;
}

.carousel-block img {
    display: inline-block;
    width: 100px;
    margin: 0;
    margin-right: 20px;
    position: relative;
    float: left;
    border-radius: 50%;
}

.carousel-block-name p {
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 22px;
    color: rgb(49, 51, 50);
    margin: 0;
}

.carousel-block-name span {
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 16px;
    color: rgb(174, 175, 176);
    padding-bottom: 5px;
    border-bottom: rgba(249, 165, 34, 1) solid 5px;
}

/*********** BUTTONS ***********/

.carousel-button-left a, .carousel-button-right a {
    width: 20px;
    height: 20px;
    position: relative;

    cursor: pointer;
    text-decoration: none;
}

.carousel-button-left a {
    float: right;
    background: url(../images/button-left.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-button-right a {
    float: right;
    background: url(../images/button-right.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*/////////////////////carousel end/////////////////////////*/

/*///////////////////////middle-section end//////////////////////////////////////////////////*/

/*///////////////////////bottom-section start///////////////////////////////////////////////*/
.bottom-section {
    width: 100%;
    height: 140px;
    position: relative;

}

.bottom-section hr {
    color: rgba(241, 241, 241, 1); /*для IE */
    background-color: rgba(241, 241, 241, 1); /*для Firefox, Opera, Safari*/
    border: 0px none;
    height: 1px;
    clear: both;
    margin-bottom: 10px;
}

.bottom-section-block {
    width: 215px;
    height: 80px;
    border-right: rgba(241, 241, 241, 1) 1px solid;
    position: relative;
    float: left;
    text-align: center;
}

.bottom-section-block p {
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 22px;
    line-height: 28px;
    color: rgb(25, 55, 76);
    margin-top: 10px;
}

.bottom-section-block span {
    font-family: SourceSansPro-Black, Arial, sans-serif;
    font-size: 42px;
    line-height: 21.99px;
    color: rgb(249, 165, 34);
}

/*///////////////////////bottom-section end///////////////////////////////////////////////*/

/*///////////////////////////footer start////////////////////////////////////////////*/
footer {
    width: 100%;
    height: 260px;
    background-color: #4e4e4c;
    position: relative;
    margin-bottom: 0;

}

.footer-block-left, .footer-block-center, .footer-block-right {
    width: 300px;
    height: 200px;
    position: relative;
    float: left;
    margin: 20px;
}

.footer-block-left {
    margin-left: 160px;
}

.footer-block-left p {
    font-family: SourceSansPro-Black, Arial, sans-serif;
    font-size: 24px;
    line-height: 12.08px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.footer-block-left span {
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 12px;
    color: rgb(241, 241, 241);
}

.footer-block-center p {
    font-family: SourceSansPro-Black, Arial, sans-serif;
    font-size: 24px;
    line-height: 12.08px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.footer-block-center img {
    width: 8px;
    margin-right: 20px;
}

.footer-block-center hr {
    margin: 3px;
    color: rgba(241, 241, 241, 1);
    background-color: rgba(241, 241, 241, 1);
    border: 0px none;
    height: 1px;
    clear: both;
}

.footer-block-center a {
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 14px;
    line-height: 11.61px;
    color: rgb(241, 241, 241);
}

.footer-block-center a:hover {
    cursor: pointer;
}

.footer-block-right p {
    font-family: SourceSansPro-Black, Arial, sans-serif;
    font-size: 24px;
    line-height: 12.08px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.footer-block-right ul {
    padding: 0;
}

.footer-block-right li {
    list-style-type: none;
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    font-size: 12px;
    color: rgb(241, 241, 241);
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

}

.footer-block-right img {
    width: 25px;
    height: 25px;
}

.footer-block-right span {
    width: 150px;
    display: inline-block;
    margin-left: 15px;
}

/*///////////////////////////footer end////////////////////////////////////////////*/
@media screen and (max-width: 1300px) and (min-width: 1200px) {
    .top-section-block {
        width: 225px;
        margin-top: 20px;
        margin-right: 20px;
    }

}
@media screen and (max-width: 1200px) and (min-width: 993px) {
    .body {
        padding: 0;
    }

    .top-section-block img {
        width: 205px;
        height: 125px;
        position: relative;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .body {
        padding: 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    .body {
        padding: 0;
    }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
    .body {
        padding: 0;
    }
}
