.carousel  {
   max-width: 720px;
   width:720px;
float: right;
   margin: 0;
   padding: 0;
}
.carousel-wrapper {
   margin: 10px 30px;
   overflow: hidden;
   position:relative;
}
.carousel-items {
   width: 10000px;
   position: relative;
}
.carousel-block {
   float: left;
   width: 250px;
   padding: 10px 10px 10px 0px;
}
.carousel-block img{
	display:block;
}

/*********** BUTTONS ***********/
.carousel-button-left a, .carousel-button-right a{
   width: 20px;
   height: 20px;
   position: relative;
   cursor: pointer; 
   text-decoration:none;
}
.carousel-button-left a{
   float: right;
   background: url(../images/button-left.svg);
   background-size: cover;
   background-repeat: no-repeat;
}
.carousel-button-right a{
   float: right;
   background: url(../images/button-right.svg);
   background-size: cover;
   background-repeat: no-repeat;
}


